//Color Palette Variables
$primary: #50e3c2;
$accent: #8c88ff;
$success: #7fd323;
$error: #ff3366;
$warning: #ffd806;
$neutral-super-light-gray: #fafafa;
$neutral-light-gray: #eee;
$neutral-gray: #999;
$neutral-white: white;
// Border colors
$border-shadow: rgba(153, 153, 153, 0.8);
